.contentWrapper {
    all: unset; /* Reset inherited styles */
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
  }
  
  .contentWrapper h1 {
    color: #007bff;
  }
  
  .contentWrapper p {
    font-size: 16px;
  }
  