.footer{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    
}
.footer1{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    
}
.footerleft{
    display:flex;
    list-style: none;
    margin-top: 0.5rem;
    justify-content: space-between;
    gap: 4rem;
    /* width: 100%; */
     
}
.footer li{
    margin-top: 0.8rem;
    cursor: pointer;

}
.footer li:hover{
    color: orange;
}
.footer21{
    display: flex; 
    gap: 2rem;
    padding-top: 2rem;
    

}
.footer21 p{
    padding-top: 0.6rem;
    font-size: 1.3rem;
    color: blue;
    cursor: pointer;
}
.footerright{
    display: flex;
    list-style: none;
    gap: 10rem;
}
.footerbottom{
    margin-top: 2rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
    
}
.bottom1{
    display: flex;
    gap: 1.2rem;
}
.footerlast{
    text-align: center;
    margin-bottom:2rem;
    color: grey;
}

/* ------------------------footer expanded after onclick on show all------------------------ */

.footerexp{
    margin-left: 11rem;
    margin-right: 8rem;

}
.footercat1{
    margin-top: 1rem;
}
.footerexpanded{
    display: flex;
    gap: 2rem;
}
.footerexpanded p{
    padding-top: 0.6rem;
    font-size: 1.3rem;
    color: blue;
}
.footerexpanded p:hover{
    cursor: pointer;
}
.footercatlist{
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    font-size: 1.1rem;
}
.footercatlist li{
    margin-top: 0.5rem;
}
.footercatlist li:hover{
    cursor: pointer;
    color: orange;
}
@media screen and (max-width:420px){
    .footer{
        display: inline-block;
        /* text-align: center; */
        /* display: none; */
    }
    .footerright{
        display: inline-block;
        margin-left: 2rem;
    }
    .btmp{
        display: none;
        visibility: hidden;
    }
    .footerexp{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .footer1{
        display: none;
    }
}