.crt{
    border: 0.1rem solid black;
    padding: 0.5rem;
    margin-top: 2rem;
}

.creator{
    /* margin-top: 2rem; */
    display: flex;
    gap: 2rem;
    line-height: 5rem;
    border-bottom: dashed 0.1rem ;
    padding-bottom: 0.8rem;
}

.creatorphoto{
    height: 5rem;
    width: 5rem;
    border: 0.1rem solid black;
    border-radius: 0.7rem;
}
.creicon{
    height: 5rem;
    width: 5rem;
}
.creatorname{
    font-size: 2rem;
}
.views{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding-top: 0.4rem;
}