.cr h1{
     font-size: 4rem;
     margin-left: 5rem;
     font-weight: 400;
     margin-bottom: 2rem;
     margin-top: 1rem;
}
.coursenavbar{
    text-align: center;
    background-color: aqua;
}
.carding{
    display: grid;
    grid-template-columns: auto auto auto;
}