.arrow {
    font-size: 2rem;
    align-items: flex-end;
    line-height: 6rem;

}
.jobs-card{
    display: flex;
    /* flex-direction: column; */
    padding: 1rem 1rem 1rem 1rem;
    /* border: 0.1rem solid red; */
    border-radius: 1rem;
    height: 4rem;
    width: 13rem;
    font-size: 1.2rem;
    color: white;
    background-color: burlywood;
    justify-content: space-between;
}
.tit a{
    text-decoration: none !important;
}
 
@media screen and (max-width : 420px){
    .jobs-card{
          width: 16rem;
    }
}
 